@media (max-width: 586px) {

    #country-climate .flex-container {
        gap: 40px;
        flex-direction: column;
    }
}

@media (max-width: 420px) {

    #header .search-container {
        text-align: center;
    }

    #header .search-container input {
        margin-bottom: 30px;
        width: 100%;
    }

    #footer p {
        font-size: 14px;
    }
}